{% extends 'todolist/base.html' %}

{% block title %} Task List {% endblock title %}

{% block content %}
<section class="max-w-3xl mx-auto py-10">
    <h1 class="text-3xl font-bold text-center text-gray-900 mb-6">Список ваших проектов</h1>

    <div class="bg-white shadow-lg rounded-lg p-6">
        {% if object_list %}
            <ul class="space-y-4">
    {% for object in object_list %}
        <li class="flex justify-between items-center p-4 rounded-lg shadow
            {% if object.priority == 1 %} bg-red-200{% endif %}
            {% if object.priority == 2 %} bg-yellow-200{% endif %}
            {% if object.priority == 3 %} bg-blue-200{% endif %}">

            <a href="{% url 'project_detail' object.id %}">
                <span class="text-lg text-gray-800">{{ object.title }}</span>
            </a>
        </li>
    {% endfor %}
</ul>

        {% else %}
            <p class="text-gray-500 text-center">Нет проектов.</p>
        {% endif %}
    </div>

    <!-- Кнопка для добавления задачи -->
    <div class="text-center mt-6">
        <a href="{% url 'project_create' %}"
           class="px-4 py-2 bg-indigo-500 text-white rounded-lg shadow hover:bg-indigo-600 transition">
            ➕ Создать новый проект
        </a>
    </div>
</section>
{% endblock content %}
